# Aleo Program IDs (update after deployment)
NEXT_PUBLIC_ELIGIBILITY_PROGRAM_ID=eligibility_zkvote_4521.aleo
NEXT_PUBLIC_VOTING_PROGRAM_ID=voting_zkvote_4521.aleo
NEXT_PUBLIC_REGISTRY_PROGRAM_ID=registry_zkvote_4521.aleo
NEXT_PUBLIC_SUBSCRIPTION_PROGRAM_ID=subscription_zkvote_4521.aleo

# Aleo RPC Endpoint
NEXT_PUBLIC_ALEO_RPC_URL=https://api.explorer.provable.com/v2

# Pinata API (for IPFS)
NEXT_PUBLIC_PINATA_JWT=

# MongoDB (optional)
MONGODB_URI=
